/********************
App Component
********************/

.app {
  width: 100%;
  max-width: $app-max-width;
  margin: $app-margin auto;
  padding: $app-padding;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $text-color;
  // app title
  h1 {
    color: $accent-color;
    text-align: center;
  }
}
